@import "./../../../../styles/variables.scss";

.chat-header-component {
    color: white;

    .user-image {
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-image: url(./../../../../images/no_profile.png);
    }

    nav {
        background: $sPrimary;
        box-shadow: 0px 3px 10px -9px rgba(0, 0, 0, 30%);
    }
}
